/*
 * author:raushan
 */
body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}




.left{
        background: url("../../images/bg.jpg");
	width:25%;
	height:1200px;
	float:left;
	display: inline-block;
	overflow:auto;
	position:relative;
}

.intro{
	color:white;
	margin-right:50px;
	margin-top: 110px;
	opacity:50%;
	text-align: right;
}

#MyPic{
	margin-top:  40px;
	border-radius:50%;
	margin-right:30px;
}


.social{
	position:absolute;
	bottom:50px;
	right: 50px;
}

.foot1{
	position:absolute;
	bottom:50px;
	right: 50px;
}

.right
{
	width:75%;
	height:1200px;
	float:right;
	display: inline-block;
	overflow:auto;
	position:relative;
}

.click1
{
	color:green;
	text-align:center;
	border: 3px solid green;
	padding:15px 30px;
	border-radius:10%;
}


.images
{
	border-radius:4%;		
        width:75%;
}


.right1
{
	width:50%;	
	float:left;
	position:relative;
}
.right2
{
	width:50%;	
	float:right;
	position:relative;
}


.click2
{
	margin-top: 40px;
	text-align:center;
	border: 3px solid #D3D3D3;
	padding:15px 30px;
	border-radius:10%;
}

.fill1
{
  width:200px;
  height:30px;
  font-size:15px; 
  border-radius:3px;
  background-color:#D8D8D8;
  opacity:0.9;
}

.textarea1
{
  margin-top:40px;
  width:458px;
  height:200px;
  font-size:15px; 
  border-radius:3px;
  background-color:#D8D8D8;
  opacity:0.9;
}

.contactus{
 	float:left;
 	display: inline-block;
 }
 
.address{
 	margin-right: 25px;
 	float:right;
 	display: inline-block;
	font-weight: 650;
	opacity: 0.7;
}

